/* hero section */
.about-hero-section{
    background-image: url("../media/images/about-hero.jpg");
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.about-hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.403); 
}
.about-hero-section>h2{
    position: absolute;
    color: white;
}